.container {
  border: 1px solid black;
  padding: 10px;
  margin: 10px auto;
}

.color-panel {
  display: inline-block;
  border: 1px solid red;
  width: 33%;
  text-align: center;
  margin: 20px 0px;
}

.font-panels {
  display: inline-block;
  width: 33%;
}

.color-label {
  color: white;
}

.color-hex {
  color: white;
}

.red {
  background-color: #F60000;
}

.orange {
  background-color: #FF8C00;
}

.yellow {
  background-color: #FFEE00;
}

.green {
  background-color: #4DE94C;
}

.blue {
  background-color: #3783FF;
}

.purple {
  background-color: #4815AA;
}
