html {
  background-color: #00A8E1;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;
  /* text-align: center; */
}

#logo {
  height: 50px;
  margin-left: 10px;
}

nav {
  float: right;
  margin-top: 15px;
  
}

.nav-items {
  color: seashell;
  margin-right: 15px;
  
}

header {
  border-bottom: 1px solid seashell;
}

h2,
h3,
h4,
h5,
p {
  text-align: center;
  color: white;
}
  
.hero-image {
  background-image: url('images/img-mission-background.webp');
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* display: -webkit-box; */
  display: flex;
  width: 100%;
  
}

.hero-text {
  margin: auto;
  background-color: #00A8E1;
  width: 100%;
}

.special-teas-container {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}

.special-teas img {
  width: 300px;
  height: 200px;
  margin: 10px 10px;
}

.banner {
  background-image: url('images/img-locations-background.webp');
  height: 100%;
  max-width: 100%;
  margin: 40px auto auto auto;
  padding-top: 85px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.box-container {

  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.box {
  height: 300px;
  width: 100px;
  flex-basis: 30%;
  box-sizing: border-box;
  background-color: #00A8E1;
  padding: 30px;
  opacity: 85%;
}

.copyright {
  float: left;
}